<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <pages enableViewState="false">
        <namespaces>
          <add namespace="System.Collections" />
          <add namespace="System.Collections.Specialized" />
          <add namespace="System.Collections.Generic" />
          <add namespace="System.Data" />
          <add namespace="System.IO" />
          <add namespace="System.Data.Oledb" />
          <add namespace="System.Web.Configuration" />
          <add namespace="Microsoft.VisualBasic" />
          <add namespace="System.Drawing" />
        </namespaces>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>

      <httpRuntime  requestValidationMode="2.0" />
    </system.web>
  </location>
    <connectionStrings>
    <add name="Tmc" connectionString=""/>
    <add name="TmcMobile" connectionString=""/>
    <add name="VisitStat" connectionString=""/>
    <add name="Counters" connectionString=""/>
    <add name="demo" connectionString=""/>
    </connectionStrings>
   
</configuration>